.buttons {
  border-bottom: 1px #adadad solid;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

.reviews {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
  font-weight: 100;
  font-size: 16;
}
